<nav>
  <div class="container">
    <div class="row">
      <div class="nav-inner col-lg-12">
        <ul id="nav" class="hidden-xs">
          <li class="level0 parent drop-menu active"><a href="index.html"><span>Home</span></a>
            <ul class="level1">
              <li class="level1 first parent"><a href="index.html"><span>Home Version 1</span></a></li>
              <li class="level1 parent"><a href="../version_2/index.html"><span>Home Version 2</span></a></li>
              <li class="level1 parent"><a href="../version_3/index.html"><span>Home Version 3</span></a></li>

            </ul>
          </li>
          <li class="level0 parent drop-menu"><a href="#"><span>Pages</span></a>
            <ul class="level1">
              <li class="level1 first"><a href="grid.html"><span>Grid</span></a></li>
              <li class="level1 nav-10-2"><a href="list.html"><span>List</span></a></li>
              <li class="level1 nav-10-3"><a href="product_detail.html"><span>Product Detail</span></a></li>
              <li class="level1 nav-10-4"><a href="shopping_cart.html"><span>Shopping Cart</span></a></li>
              <li class="level1 first parent"><a href="checkout.html"><span>Checkout</span></a>  </li>
              <li class="level1 nav-10-4"><a href="wishlist.html"><span>Wishlist</span></a></li>
              <li class="level1"><a href="dashboard.html"><span>Dashboard</span></a></li>
              <li class="level1"><a href="multiple_addresses.html"><span>Multiple Addresses</span></a></li>
              <li class="level1"><a href="about_us.html"><span>About us</span></a></li>
              <li class="level1"><a href="compare.html"><span>Compare</span></a></li>

              <li class="level1"><a href="faq.html"><span>FAQ</span></a></li>
              <li class="level1"><a href="quick_view.html"><span>Quick view </span></a></li>
              <li class="level1"><a href="login.html"><span>Login</span></a></li>

              <li class="level1 first parent"><a href="blog.html"><span>Blog</span></a>
                <ul class="level2 right-sub">
                  <li class="level2 nav-2-1-1 first"><a href="blog_detail.html"><span>Blog Detail</span></a></li>
                </ul>
              </li>
              <li class="level1"><a href="contact_us.html"><span>Contact us</span></a></li>
              <li class="level1"><a href="404error.html"><span>404 Error Page</span></a></li>
            </ul>
          </li>
          <li class="mega-menu"><a href="grid.html" class="level-top"><span>Women</span></a>
            <div style="left: 0px; display: none;" class="level0-wrapper dropdown-6col">
              <div class="container">
                <div class="level0-wrapper2">
                  <div class="col-1">
                    <div class="nav-block nav-block-center">
                      <ul class="level0">
                        <li class="level1 nav-6-1 parent item"><a href="grid.html" class=""><span>Stylish Bag</span></a>
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"><a href="grid.html" class=""><span>Clutch Handbags</span></a></li>
                            <li class="level2 nav-6-1-1"><a href="grid.html" class=""><span>Diaper Bags</span></a></li>
                            <li class="level2 nav-6-1-1"><a href="grid.html" class=""><span>Bags</span></a></li>
                            <li class="level2 nav-6-1-1"><a href="grid.html" class=""><span>Hobo handbags</span></a></li>
                          </ul>
                        </li>
                        <li class="level1 nav-6-1 parent item"><a href="grid.html"><span>Material Bag</span></a>
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"><a href="grid.html"><span>Beaded Handbags</span></a></li>
                            <li class="level2 nav-6-1-1"><a href="grid.html"><span>Fabric Handbags</span></a></li>
                            <li class="level2 nav-6-1-1"><a href="grid.html"><span>Handbags</span></a></li>
                            <li class="level2 nav-6-1-1"><a href="grid.html"><span>Leather Handbags</span></a></li>
                          </ul>
                        </li>
                        <li class="level1 nav-6-1 parent item"><a href="grid.html"><span>Shoes</span></a>
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"><a href="grid.html"><span>Flat Shoes</span></a></li>
                            <li class="level2 nav-6-1-1"><a href="grid.html"><span>Flat Sandals</span></a></li>
                            <li class="level2 nav-6-1-1"><a href="grid.html"><span>Boots</span></a></li>
                            <li class="level2 nav-6-1-1"><a href="grid.html"><span>Heels</span></a></li>
                          </ul>
                        </li>
                        <li class="level1 nav-6-1 parent item"><a href="grid.html"><span>Jwellery</span></a>
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"><a href="grid.html"><span>Bracelets</span></a></li>
                            <li class="level2 nav-6-1-1"><a href="grid-2.html"><span>Necklaces &amp; Pendent</span></a></li>
                            <li class="level2 nav-6-1-1"><a href="grid.html"><span>Pendants</span></a></li>
                            <li class="level2 nav-6-1-1"><a href="grid.html"><span>Pins &amp; Brooches</span></a></li>
                          </ul>
                        </li>
                        <li class="level1 nav-6-1 parent item"><a href="grid.html"><span>Dresses</span></a>
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"><a href="grid.html"><span>Casual Dresses</span></a></li>
                            <li class="level2 nav-6-1-1"><a href="grid.html"><span>Evening</span></a></li>
                            <li class="level2 nav-6-1-1"><a href="grid.html"><span>Designer</span></a></li>
                            <li class="level2 nav-6-1-1"><a href="grid.html"><span>Party</span></a></li>
                          </ul>
                        </li>
                        <li class="level1 nav-6-1 parent item"><a href="grid.html"><span>Swimwear</span></a>
                          <ul class="level1">
                            <li class="level2 nav-6-1-1"><a href="grid.html"><span>Swimsuits</span></a></li>
                            <li class="level2 nav-6-1-1"><a href="#/swimwear/beach-clothing.html"><span>Beach Clothing</span></a></li>
                            <li class="level2 nav-6-1-1"><a href="grid.html"><span>Clothing</span></a></li>
                            <li class="level2 nav-6-1-1"><a href="grid.html"><span>Bikinis</span></a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!--nav-block nav-block-center-->
                  <div class="col-2">
                    <div class="menu_image"><a href="#" title=""><img src="images/menu_image.jpg" alt="menu_image"></a></div>
                    <div class="menu_image1"><a href="#" title=""><img src="images/menu_image1.jpg" alt="menu_image"></a></div>
                  </div>
                </div>
                <!--level0-wrapper2--> </div>
            </div>
          </li>
          <li class="mega-menu"><a href="grid.html" class="level-top"><span>Men</span></a>
            <div  style="left: 0px; display: none;" class="level0-wrapper dropdown-6col">
              <div class="container">
                <div class="level0-wrapper2">
                  <div class="nav-block nav-block-center">
                    <ul class="level0">
                      <li class="level1 nav-6-1 parent item"><a href="grid.html" class=""><span>Shoes</span></a>
                        <ul class="level1">
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Sport Shoes</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Casual Shoes</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Leather Shoes</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>canvas shoes</span></a></li>
                        </ul>
                      </li>
                      <li class="level1 nav-6-1 parent item"><a href="grid.html"><span>Dresses</span></a>
                        <ul class="level1">
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Casual Dresses</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Evening</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Designer</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Party</span></a></li>
                        </ul>
                      </li>
                      <li class="level1 nav-6-1 parent item"><a href="grid.html"><span>Jackets</span></a>
                        <ul class="level1">
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Coats</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Formal Jackets</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Leather Jackets</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Blazers</span></a></li>
                        </ul>
                      </li>
                      <li class="level1 nav-6-1 parent item"><a href="grid.html"><span>Watches</span></a>
                        <ul class="level1">
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Fasttrack</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Casio</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Titan</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Tommy-Hilfiger</span></a></li>
                        </ul>
                      </li>
                      <li class="level1 nav-6-1 parent item"><a href="grid.html"><span>Sunglasses</span></a>
                        <ul class="level1">
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Ray Ban</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Fasttrack</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Police</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Oakley</span></a></li>
                        </ul>
                      </li>
                      <li class="level1 nav-6-1 parent item"><a href="grid.html"><span>Accesories</span></a>
                        <ul class="level1">
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Backpacks</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Wallets</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Laptops Bags</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Belts</span></a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <!--level0-wrapper2-->
                  <div class="nav-add">
                    <div class="push_item">
                      <div class="push_img"><a href="#"><img alt="sunglass" src="images/menu_man_sunglass.png"></a></div>
                    </div>
                    <div class="push_item">
                      <div class="push_img"><a href="#"><img alt="watch" src="images/menu_man_watch.png"></a></div>
                    </div>
                    <div class="push_item">
                      <div class="push_img"><a href="#"><img alt="jeans" src="images/menu_man_jeans.png"></a></div>
                    </div>
                    <div class="push_item push_item_last">
                      <div class="push_img"><a href="#"><img alt="shoes" src="images/menu_man_shoes.png"></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="mega-menu"><a href="grid.html" class="level-top"><span>Electronics</span></a>
            <div style="left: 0px; display: none;" class="level0-wrapper dropdown-6col">
              <div class="container">
                <div class="level0-wrapper2">
                  <div class="nav-block nav-block-center">
                    <ul class="level0">
                      <li class="level1 nav-6-1 parent item"><a href="grid.html"><span>Mobiles</span></a>
                        <ul class="level1">
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Samsung</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Nokia</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>IPhone</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Sony</span></a></li>
                        </ul>
                      </li>
                      <li class="level1 nav-6-1 parent item"><a href="grid.html" class=""><span>Accesories</span></a>
                        <ul class="level1">
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Mobile Memory Cards</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Cases &amp; Covers</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Mobile Headphones</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Bluetooth Headsets</span></a></li>
                        </ul>
                      </li>
                      <li class="level1 nav-6-1 parent item"><a href="grid.html"><span>Cameras</span></a>
                        <ul class="level1">
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Camcorders</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Point &amp; Shoot</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Digital SLR</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Camera Accesories</span></a></li>
                        </ul>
                      </li>
                      <li class="level1 nav-6-1 parent item"><a href="grid.html"><span>Audio &amp; Video</span></a>
                        <ul class="level1">
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>MP3 Players</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>IPods</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Speakers</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Video Players</span></a></li>
                        </ul>
                      </li>
                      <li class="level1 nav-6-1 parent item"><a href="grid.html"><span>Computer</span></a>
                        <ul class="level1">
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>External Hard Disk</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Pendrives</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Headphones</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>PC Components</span></a></li>
                        </ul>
                      </li>
                      <li class="level1 nav-6-1 parent item"><a href="grid.html"><span>Appliances</span></a>
                        <ul class="level1">
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Vaccum Cleaners</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Indoor Lighting</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Kitchen Tools</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Water Purifier</span></a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--level0-wrapper2-->
                <div class="nav-add">
                  <div class="push_item">
                    <div class="push_img"><a href="#"><img alt="phone" src="images/menu_ele_phone.png"></a></div>
                  </div>
                  <div class="push_item">
                    <div class="push_img"><a href="#"><img alt="camera" src="images/menu_ele_camera.png"></a></div>
                  </div>
                  <div class="push_item">
                    <div class="push_img"><a href="#"><img alt="ipod" src="images/menu_ele_ipod.png"></a></div>
                  </div>
                  <div class="push_item push_item_last">
                    <div class="push_img"><a href="#"><img alt="laptop" src="images/menu_ele_laptop.png"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="mega-menu"><a class="level-top" href="grid.html"><span>Furniture</span></a>
            <div style="left: 0px; display: none;" class="level0-wrapper dropdown-6col">
              <div class="container">
                <div class="level0-wrapper2">
                  <div class="nav-block nav-block-center grid12-8 itemgrid itemgrid-4col">
                    <ul class="level0">
                      <li class="level1 nav-6-1 parent item"><a href="grid.html"><span>Living Room</span></a>
                        <ul class="level1">
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Racks &amp; Cabinets</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Sofas</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Chairs</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Tables</span></a></li>
                        </ul>
                      </li>
                      <li class="level1 nav-6-1 parent item"><a href="grid.html" class=""><span>Dining &amp; Bar</span></a>
                        <ul class="level1">
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Dining Table Sets</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Serving Trolleys</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Bar Counters</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Dining Cabinets</span></a></li>
                        </ul>
                      </li>
                      <li class="level1 nav-6-1 parent item"><a href="grid.html"><span>Bedroom</span></a>
                        <ul class="level1">
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Beds</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Chest of Drawers</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid-2.html"><span>Wardrobes &amp; Almirahs</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Nightstands</span></a></li>
                        </ul>
                      </li>
                      <li class="level1 nav-6-1 parent item"><a href="grid.html"><span>Kitchen</span></a>
                        <ul class="level1">
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Kitchen Racks</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Kitchen Fillings</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Wall Units</span></a></li>
                          <li class="level2 nav-6-1-1"><a href="grid.html"><span>Benches &amp; Stools</span></a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <!--nav-block nav-block-center-->
                  <div class="nav-block nav-block-right std grid12-4"><a href="#"><img src="images/menu_furniture_2.png" alt="furniture"></a> </div>
                  <!--nav-block nav-block-right std grid12-4--> </div>
              </div>
              <!--level0-wrapper2-->
            </div>
          </li>
          <li class="level0 nav-8 level-top"><a href="grid.html" class="level-top"><span>Kids</span></a></li>
          <li class="nav-custom-link mega-menu"> <a class="level-top" href="#"><span>Custom</span></a>
            <div class="level0-wrapper custom-menu" style="left: 0px; display: none;">
              <div class="container">
                <div class="header-nav-dropdown-wrapper clearer">
                  <div class="grid12-5">
                    <div class="custom_img"><a href="#"><img src="images/custom-img1.jpg" alt="custom img1"></a></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                    <button class="learn_more_btn" title="Add to Cart" type="button"><span>Learn More</span></button>
                  </div>
                  <div class="grid12-5">
                    <div class="custom_img"><a href="#"><img src="images/custom-img2.jpg" alt="custom img2"></a></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                    <button class="learn_more_btn" title="Add to Cart" type="button"><span>Learn More</span></button>
                  </div>
                  <div class="grid12-5">
                    <div class="custom_img"><a href="#"><img src="images/custom-img3.jpg" alt="custom img3"></a></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                    <button class="learn_more_btn" title="Add to Cart" type="button"><span>Learn More</span></button>
                  </div>
                  <div class="grid12-5">
                    <div class="custom_img"><a href="#"><img src="images/custom-img4.jpg" alt="custom img4"></a></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue.</p>
                    <button class="learn_more_btn" title="Add to Cart" type="button"><span>Learn More</span></button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="menu_top">
          <div class="top-cart-contain pull-right">
            <!-- Top Cart -->
            <div class="mini-cart">
              <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"><a href="#"><span class="hidden-xs">Shopping Cart (2)</span></a></div>
              <div>
                <div class="top-cart-content" style="display: none;">
                  <div class="block-subtitle">
                    <div class="top-subtotal">2 items, <span class="price">$259.99</span> </div>
                    <!--top-subtotal-->
                    <div class="pull-right">
                      <button title="View Cart" class="view-cart" type="button"><span>View Cart</span></button>
                    </div>
                    <!--pull-right-->
                  </div>
                  <!--block-subtitle-->
                  <ul class="mini-products-list" id="cart-sidebar">
                    <li class="item first">
                      <div class="item-inner"><a class="product-image" title="Sample Product" href="#l"><img alt="Sample Product" src="products-images/product4.jpg"></a>
                        <div class="product-details">
                          <div class="access"><a class="btn-remove1" title="Remove This Item" href="#">Remove</a> <a class="btn-edit" title="Edit item" href="#"><i class="icon-pencil"></i><span class="hidden">Edit item</span></a> </div>
                          <!--access--> <strong>1</strong> x <span class="price">$179.99</span>
                          <p class="product-name"><a href="product_detail.html">Sample Product</a></p>
                        </div>
                      </div>
                    </li>
                    <li class="item last">
                      <div class="item-inner"><a class="product-image" title="Sample Product" href="#"><img alt="Sample Product" src="products-images/product3.jpg"></a>
                        <div class="product-details">
                          <div class="access"><a class="btn-remove1" title="Remove This Item" href="#">Remove</a> <a class="btn-edit" title="Edit item" href="#"><i class="icon-pencil"></i><span class="hidden">Edit item</span></a> </div>
                          <!--access--> <strong>1</strong> x <span class="price">$80.00</span>
                          <p class="product-name"><a href="product_detail.html">Sample Product</a></p>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="actions">
                    <button class="btn-checkout" title="Checkout" type="button"><span>Checkout</span></button>
                  </div>
                  <!--actions-->
                </div>
              </div>
            </div>
            <!-- Top Cart -->
            <div id="ajaxconfig_info" style="display:none"><a href="#/"></a>
              <input value="" type="hidden">
              <input id="enable_module" value="1" type="hidden">
              <input class="effect_to_cart" value="1" type="hidden">
              <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
